.env
.venv/
__pycache__/
*.py[cod]

frontend/node_modules/
frontend/dist/
frontend/$f
frontend/app/app.zip
frontend/storage/logs/*.log
frontend/storage/cache/*
!frontend/storage/cache/.gitkeep
frontend/storage/uploads/*
!frontend/storage/uploads/
!frontend/storage/uploads/.gitkeep
!frontend/storage/uploads/avatars/
frontend/storage/uploads/avatars/*
!frontend/storage/uploads/avatars/.gitkeep

backend/uploads/audio/*
!backend/uploads/audio/.gitkeep
backend/local_smoke.db
